.sermonBody{
    background-color: #333;
    width: 100%;
    /* margin-top: 20px; */
    color: #f1f1f1;
    fill: #f1f1f1;
}
.sermonBody h2{
    font-weight: 800;
    font-size: clamp(28px, 2.734375vw, 28px);
    font-style: normal;
    line-height: 1.06em;
    letter-spacing: -0.05em;
    margin: 20px;
}
.youTube{
    padding: 90px;
}